<section class="common-padding">
  <div class="screen-max-width">
    <div id="chip" class="flex-center w-full my-20">
      <img src="assets/images/chip.jpeg" alt="chip" width="180" height="180" />
    </div>

    <div class="flex flex-col items-center">
      <h2 class="hiw-title">
        A17 Pro Chip.
        <br />A monster win for gaming
      </h2>

      <p class="hiw-subtitle">
        It's here. The biggest redesign in the history of Apple GPUs.
      </p>
    </div>

    <div class="mt-10 md:mt-20 mb-14">
      <div class="relative h-full flex-center">
        <div class="overflow-hidden">
          <img
            src="assets/images/frame.png"
            alt="frame"
            class="bg-transparent relative z-10" />
        </div>

        <div class="hiw-video">
          <video
            class="pointer-events-none"
            [playsInline]="true"
            preload="none"
            muted
            autoplay
            #videoRef>
            <source src="assets/videos/frame.mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <p class="text-gray font-semibold text-center mt-3">Honkai: Star Rail</p>
    </div>

    <div class="hiw-text-container">
      <div class="flex flex-1 justify-center flex-col">
        <p class="hiw-text g_fadeIn">
          A17 Pro is an entirely new class of iPhone chip that delivers our<span
            class="text-white">
            best graphic performance by far.</span
          >
        </p>

        <p class="hiw-text g_fadeIn">
          Mobile<span class="text-white">
            games will look and feel so immersive</span
          >
          with incredibly detailed environments and characters.
        </p>
      </div>

      <div class="flex-1 flex justify-center flex-col g_fadeIn">
        <p class="hiw-text">New</p>
        <p class="hiw-bigtext">Pro-class GPU</p>
        <p class="hiw-text">with 6 cores</p>
      </div>
    </div>
  </div>
</section>
